.createitemspage{
    position: relative;
    margin-left: 91px;
    margin-top: 42px;
    background-color: rgba(234, 230, 230, 0.915);
    height: 618px;
    width: 94%;
    overflow: auto;
}
.title{
    margin-top: -690px;
    margin-left: 55px;
    color: white;
    font-size: 23px;
}
.createitemspage-setup{
    background-color: white;
    /* height: 633px; */
    position: absolute;
    
    width: 53%;
    font-family: Arial, sans-serif;
}
.details{
    margin: 37px;
    
}
.name{
    display: flex;
    flex-direction: row;
   
}
.textfieldname{
    width: 50%;
  
}
.category-textfield{
    margin-top: 3px;
    margin-left: 50px;
}
.description{
    margin-top: 50px;
}
.item-checkbox{
    margin-left: -10px;
    display: flex;
    margin-top: 30px;  
}
.radio-addItem{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.spacing{
    background-color:  rgba(234, 230, 230, 0.915);
    margin-left: -36.5px;
    width: 111%;
    margin-top: 42px;
    height: 20px;
}

.inventory{
    margin: 20px;
    
}
.variants{
    margin: 26px;
}
.spicelevel{
    display: flex;
    flex-direction: row;
    margin: 26px;
}
.switchStyling{
    margin-top: -11px;
    margin-left: 552px;
}
.shapes{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.colorshapesStyling{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.colorshapes{
    height: 54px;
    
    width: 35px;
    margin: 10px;
    box-shadow: 5px;
    border-radius: 5%;
}
.shapesStyling{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.shape{
    height: 54px;
    width: 57px;
    margin: 5px;
    margin-top: 20px;
}
.image-background{
    background-color: #b8b1b154;
    height: 150px;
    width: 128px;
    margin-left: 295px;
}