.itemspage{
    position: relative;
    margin-left: 91px;
    margin-top: -638px;
    background-color: rgba(234, 230, 230, 0.915);
    height: 633px;
    width: 80%;
    
}
.itemspage-setup{
    background-color: white;
    /* height: 633px; */
    position: absolute;
    overflow: auto;
    width: 100%;
}
.addItems{
   
   margin: 20px;
   
}
.inputfields{
    display: flex;
    flex-direction: row;
    margin-left: 726px;
    margin-top: -50px;
}