.loginPage{
    height: 705px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginPage img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.loginForm input{
    width: 30%;
    height: 44px;
    font-size: 18px;
    margin: 8px;
    border-radius: 20px;
}

.loginForm Button{
    color: white;
    margin:10px;
    width:30%
}
